{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

<section class="flex flex-col items-center bg-[#f9e1e2]">
    <img src="/build/images/page_menu/menu_titre.webp" alt="Carte d'un restaurant" class="h-68"/>
    <div>
        <div class="m-2 font">
            <h1 class="font-bold ">Notre carte du moment</h1>
            <div class="bg-white flex">
                <p class="p-1">Entrée + Plat ou Plat + Dessert</p>
                <p class="p-1">51.00€</p>
            </div>
            <p class="p-1"></p>
        </div>
    </div>
</section>
<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_entree.webp" alt="Carte d'un restaurant" class="h-68"/>
    <div>
        {% for entree in entrees %}
            <div class="m-2 font">
                <p class="bg-[#f9e1e2] p-1">{{ entree.name }}</p>
                <p class="bg-[#f9e1e2] p-1">{{ entree.price }}€</p>
            </div>
        {% endfor %}
    </div>
</section>
<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_plat.webp" alt="Carte d'un restaurant" class="h-68"/>
    <div>
        {% for plat in plats %}
            <div class="m-2 font">
                <p class="bg-[#f9e1e2] p-1">{{ plat.name }}</p>
                <p class="bg-[#f9e1e2] p-1">{{ plat.price }}€</p>
            </div>
        {% endfor %}
    </div>
</section>
<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_dessert.webp" alt="Carte d'un restaurant" class="h-68"/>
    <div>
        {% for dessert in desserts %}
            <div class="m-2 font">
                <p class="bg-[#f9e1e2] p-1">{{ dessert.name }}</p>
                <p class="bg-[#f9e1e2] p-1">{{ dessert.price }}€</p>
            </div>
        {% endfor %}
    </div>
</section>
<section class="flex flex-col items-center">
    <img src="/build/images/page_menu/menu_boisson.webp" alt="Carte d'un restaurant" class="h-68"/>
    <div>
        {% for boisson in boissons %}
            <div class="m-2 font">
                <p class="bg-[#f9e1e2] p-1">{{ boisson.name }}</p>
                <p class="bg-[#f9e1e2] p-1">{{ boisson.price }}€</p>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}