{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Adresse email :</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Mot de passe :</th>
                <td>••••••••</td>
            </tr>
            <tr>
                <th>Nom de réservation :</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Date de création :</th>
                <td>{{ user.created_at ? user.created_at|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dernière connexion :</th>
                <td>{{ user.last_connexion ? user.last_connexion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Vérifié :</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier mes informations</a>

    <a class="text-red-700" href="{{ path('app_user_delete', {'id': user.id}) }}">Supprimer mon compte</a>
{% endblock %}
